{% extends "base.html" %}
{% block content %}
<div class="marketing">
    <h1>You are now following <a href="/list/{{list.slug}}">{{list.name}}</a></h1>
    <p class="lead">You will recieve an email notification when a new item is added</p>
    <br>
    <p class="marketing-byline">Search for other interesting lists.</p>
    <div class="row">
        <div class="span4 offset4">
            <form class="form-search" action="/search/" method="POST">
                {% csrf_token %}
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-search"></i></span>
                    <input type="text" name="q" class="span3 appendedPrependedInput">
                    <button type="submit" class="btn">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}