{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="marketing">
    <h1>Create curated list of items with Listypedia.</h1>
    <p class="marketing-byline">Create lists about places to visit, good restaurants, open source components. Anything that can be a list goes here.</p>
    <br/>
    <a class="btn btn-primary btn-large btn-flat" href="/list/create/">Create List</a>
</div>
<hr class="soften">
<ul class="nav nav-pills" id="home">
    <li class="active"><a data-toggle="tab" href="#followed">Followed Lists</a></li>
    <li><a data-toggle="tab" href="#your">Your Lists</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="followed">
        {% if followed_lists.count > 0 %}
            {% for list in followed_lists %}
            <div>
                <h3><a href="/{{ list.url }}/">{{ list.name }}</a></h3>
                <p class="lead">{{ list.description }}</p>
                {{ list.user.first_name}} {{ list.user.last_name }} - {{ list.created|naturaltime}}
                <hr>
            </div>
            {% endfor %}
        {% else %}
            <p class="lead">Nothing. Yet.</p>
        {% endif %}
    </div>
    <div class="tab-pane" id="your">
        {% if your_lists.count > 0 %}
            {% for list in your_lists %}
            <div>
                <h3><a href="/{{ list.url }}/">{{ list.name }}</a></h3>
                <p class="lead">{{ list.description }}</p>
                {{ list.user.first_name}} {{ list.user.last_name }} - {{ list.created|naturaltime}}
                <hr>
            </div>
            {% endfor %}
        {% else %}
            <p class="lead">Nothing. Yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}