{% extends "base.html" %}
{% block content %}
<div class="marketing">

    <h1 class="logo lobster"><img src="/site_media/images/listypedia-list-66.png">Listypedia</h1>
    <p class="marketing-byline">Social, Curated lists.</p>
    <br>
    <div class="row">
        <div class="span4 offset4">
            <form class="form-search" action="/search/" method="POST">
                {% csrf_token %}
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-search"></i></span>
                    <input type="text" name="q" class="span3 appendedPrependedInput">
                    <button type="submit" class="btn">Search</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="span4 offset2">
            <h2>Social</h2>
            <p>Listypedia is simple way to create and manage lists. It enables the users to share list with friends and colleagues and also invite them to collaborate.</p>
        </div>
        <div class="span4">
            <h2>Curated</h2>
            <p>Only the creators and the collabarators of the list can add to the lists. This ensures the quality of the items that are added to the lists.</p>
        </div>
    </div>

    <hr class="soften">

    <h1>Sign up now.</h1>
    <p class="marketing-byline">It's free.</p>
    <div class="row-fluid text-center">
        <a class="btn btn-primary btn-large btn-flat" href="/signup/">Sign up</a>
    </div>
    <div>
    	{% for featured_list in featured_lists %}
    		{{featured_list.name}}
    	    {% for item in featured_list.featured_items %}
    	    	item - {{item.name}}<br/>
    		{%endfor%}
    		<br />
    	{%endfor%}
    </div>
</div>
{% endblock %}