{% extends "base.html" %}
{% block content %}
<div class="marketing">

    <h1 class="logo lobster"><img src="/site_media/images/listypedia-list-66.png">Listypedia</h1>
    <p class="marketing-byline">Social, Curated lists.</p>
    <hr class="soften">
    <div class="row-fluid">
        <div class="span4 offset2">
            <div class="about-image">
                <i class="icon-group"></i>&nbsp;<i class="icon-money"></i>
            </div>
            <h2>Social</h2>
            <p>listypedia is simple way to create and manage lists. It enables the users to share list with friends and colleagues and also invite them to collaborate</p>
        </div>
        <div class="span4">
            <div class="about-image">
                <i class="icon-user"></i>&nbsp;<i class="icon-qrcode"></i>
            </div>
            <h2>Curated</h2>
            <p>Only the creators and the collabarators of the list can add to the lists. This ensures the quality of the items that are added to the lists</p>
        </div>
    </div>

    <hr class="soften">

    <h1>Sign up now.</h1>
    <p class="marketing-byline">It's free.</p>
    <div class="row-fluid text-center">
        <a class="btn btn-primary btn-large btn-flat" href="/signup/">Sign up</a>
    </div>

</div>
{% endblock %}