{% extends "base.html" %}
{% load humanize %}
{% block content %}
    {% if list %}
    <div class="marketing">
        <h1>{{ list.name }}</h1>
        <p class="marketing-byline">{{ list.description }}</p>
    </div>
    <hr>
    <div class="row">
        <div class="span9">
            {% if items %}
                {% for item in items %}
                    <div>
                        <h3>
                            {% if item.url %}
                                <a href="{{ item.url }}">{{ item.name }}</a>
                            {% else %}
                                {{ item.name }}
                            {% endif %}
                        </h3>
                        <p>{{ item.description }}</p>
                        {{ item.user.first_name}} {{ item.user.last_name }} - {{ item.created|naturaltime}}
                    </div>
                    <hr>
                {% endfor %}
            {% endif %}
        </div>
        <div class="span3">
        	{% if collaborator %}
            <a class="btn btn-primary btn-large btn-flat btn-block" href="/list/{{ list.slug }}/item/add/"><i class="icon-plus icon-white"></i> Add Item</a>
            <br>
            {% endif %}
            {% if not followed %}
            <form action="/list/follow/" method="post">
                {% csrf_token %}
                <input type="hidden" name="list_id" value="{{list.id}}"/>
                <button type="submit" class="btn btn-success btn-large btn-flat btn-block" href="/list/follow/"><i class="icon-check icon-white"></i> Follow List</button>
            </form>
            {% else %}
            <form action="/list/unfollow/" method="post">
            	{% csrf_token %}
            	<input type="hidden" name="list_id" value="{{list.id}}"/>
            	<button type="submit" class="btn btn-danger btn-large btn-flat btn-block" href="/list/unfollow/"><i class="icon-remove icon-white"></i> Unfollow List</button>
            </form>
            {% endif %}
            {% if creator %}
                <a class="btn btn-info btn-large btn-flat btn-block" href="/list/{{list.slug}}/invite/"><i class="icon-user icon-white"></i> Invite Collaborator</a>
            	<br>
            {% endif %}
            <h4>Created By</h4>
            {{ list.user.first_name }} {{ list.user.last_name}}
            {% if collabarators %}
                <br>
                <h4>Collabarators</h4>
                {% for collabarator in collaborators %}
                    {{ collabarator.user.first_name }} {{ collabarator.user.last_name }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}