/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.pull-center {
    text-align: center;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 60px;
}
.container .credit {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

.btn-flat {
    filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image:none;
    border:0;
}

/* Fonts
----------------------- */

.lobster {
  font-family: 'Lobster', cursive;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.logo {
  font-style: normal;
  font-weight: normal;
  color: #fff;
  text-shadow: 0 1px 0 #000000, 0 0 5px #000000;
  text-transform: none;
}

/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 70px 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  border: 0;
}

.marketing {
  text-align: center;
  color: #5a5a5a;
}
.marketing .marketing-byline {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  color: #999;
}
.marketing p {
  font-size: 16px;
  line-height: 1.5;
}
.marketing h1 {
  margin: 60px 0 10px;
  font-size: 60px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -1px;
}
.marketing h2 {
  font-weight: 200;
  margin-bottom: 5px;
}

.header {
  color: #5a5a5a;
}

.header .header-byline {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  color: #999;
}

.header p {
  font-size: 16px;
  line-height: 1.5;
}

.header h1 {
  margin: 20px 0 10px;
  font-size: 60px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -1px;
}

.header h2 {
  font-weight: 200;
  margin-bottom: 5px;
}

.list-post {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background: none repeat scroll 0 0 rgba(250, 250, 250, 0.7);
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.list-post h3 {
    margin: 0;
    font-weight: 500;
}

.list-post p {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}
.list-post hr {
    margin: 12px 0;
}

.list-post form {
	margin: 0;
}

.list-post button.btn-link {
	padding: 0;
}

.form-vertical textarea,
.form-vertical input[type="text"],
.form-vertical input[type="password"],
.form-vertical input[type="datetime"],
.form-vertical input[type="datetime-local"],
.form-vertical input[type="date"],
.form-vertical input[type="month"],
.form-vertical input[type="time"],
.form-vertical input[type="week"],
.form-vertical input[type="number"],
.form-vertical input[type="email"],
.form-vertical input[type="url"],
.form-vertical input[type="search"],
.form-vertical input[type="tel"],
.form-vertical input[type="color"] {
    font-size: 20px;
    font-weight: 200;
    height: 36px;
    border: none;
    border-bottom: 1px solid #cccccc;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.075);
            box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.075);
}

.form-vertical textarea {
    height: auto;
}

.form-vertical textarea:focus,
.form-vertical input[type="text"]:focus,
.form-vertical input[type="password"]:focus,
.form-vertical input[type="datetime"]:focus,
.form-vertical input[type="datetime-local"]:focus,
.form-vertical input[type="date"]:focus,
.form-vertical input[type="month"]:focus,
.form-vertical input[type="time"]:focus,
.form-vertical input[type="week"]:focus,
.form-vertical input[type="number"]:focus,
.form-vertical input[type="email"]:focus,
.form-vertical input[type="url"]:focus,
.form-vertical input[type="search"]:focus,
.form-vertical input[type="tel"]:focus,
.form-vertical input[type="color"]:focus,
.form-vertical .uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.075), 0 0 8px -8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.075), 0 0 8px -8px rgba(82, 168, 236, 0.6);
          box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.075), 0 0 8px -8px rgba(82, 168, 236, 0.6);
}

.form-vertical label {
    font-size: 22px;
    line-height: 42px;
}

.light-text {
    color: #999999;
}

.featured h2 {
    font-weight: 200;
    line-height: 1;
    letter-spacing: -1px;
    margin-bottom: 30px;
}

.list-widget {
    padding: 15px;
    background-color: white;
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
      -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
         -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
              box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.list-widget h4 {
    font-weight: 200;
    line-height: 1;
    color: #F57468;
}

.list-widget li {
    height: 28px;
    line-height: 28px;
    overflow: hidden;
}

.list-widget .fav {
    background-position: 0 0;
    height: 16px;
    width: 16px;
}

.list-widget ul li > span {
    margin-left: 3px;
}

.list-widget span.all-link {
    margin-left: 23px;
}
