{% extends "bookmarklet/base.html" %}
{% block content %}
<div class="page-header">
    <h1>To which list do you want to add the item?</h1>
</div>
<div class="row">
    <div class="span12">
        {% if lists.count > 0 %}
            {% for list in lists %}
            <div class="list-post">
                <h3><a href="/{{ list.url }}/item/add/?n={{name}}&s=b&u={{url}}">{{ list.name }}</a></h3>
            </div>
            {% endfor %}
        {% else %}
            <p class="lead">No lists found.</p>
        {% endif %}
    </div>
</div>
{% endblock %}