<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0;" xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Listypedia- Social, Curated Lists</title>



</head>

<body style="margin: 0; -webkit-text-size-adjust: none; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0; height: 100%; -webkit-font-smoothing: antialiased; width: 100% !important;" bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0; width: 100%;" bgcolor="#999999">
    <tr style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0;">
        <td style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0;"></td>
        <td class="header container" style="max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block !important;">

                <div class="content" style="max-width: 600px; margin: 0 auto; padding: 15px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block;">
                <table style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0; width: 100%;" bgcolor="#999999">
                    <tr style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0;">
                        <td style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0;"><img src="http://localhost:8000/site_media/images/logo-full-378.png" height="50" style="max-width: 100%; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" /></td>
                        <td align="right" style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0;"><h6 class="collapse" style="font-size: 14px; font-weight: 900; text-transform: uppercase; line-height: 1.1; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; margin: 0; color: #444; padding: 0;">Social, Curated Lists</h6></td>
                    </tr>
                </table>
                </div>

        </td>
        <td style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0;"></td>
    </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap" style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0; width: 100%;">
    <tr style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0;">
        <td style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0;"></td>
        <td class="container" style="max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block !important;" bgcolor="#FFFFFF">

            <div class="content" style="max-width: 600px; margin: 0 auto; padding: 15px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block;">
            <table style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0; width: 100%;">
                <tr style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0;">
                    <td style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0;">
                        <h3 style="font-size: 27px; font-weight: 500; line-height: 1.1; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; margin: 0 0 15px; color: #000; padding: 0;">{% block email_greeting %}{% endblock %}</h3>
                        <p class="lead" style="font-size: 17px; font-weight: normal; line-height: 1.6; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0 0 10px; padding: 0;">{% block email_body %}{% endblock %}</p>
                        <br style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0;" />
                        <!-- social & contact -->
                        <table class="social" bgcolor="#ebebeb" style="margin: 0; background-color: #ebebeb; padding: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%;" width="100%">
                            <tr style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0;">
                                <td style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0;">

                                    <!-- column 1 -->
                                    <table class="column" align="left" style="min-width: 279px; margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0; width: 280px; float: left;">
                                        <tr style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0;">
                                            <td style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 15px;">

                                                <h5 class="" style="font-size: 17px; font-weight: 900; line-height: 1.1; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; margin: 0 0 15px; color: #000; padding: 0;">Connect with Us:</h5>
                                                <p class="" style="font-size: 14px; font-weight: normal; line-height: 1.6; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0 0 10px; padding: 0;"><a href="http://www.facebook.com/listypedia" class="soc-btn fb" style="font-size: 12px; font-weight: bold; margin: 0 0 10px; padding: 3px 7px; background-color: #3B5998 !important; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; text-decoration: none; color: #FFF; display: block; text-align: center;">Facebook</a> <a href="http://www.twitter.com/listypedia" class="soc-btn tw" style="font-size: 12px; font-weight: bold; margin: 0 0 10px; padding: 3px 7px; background-color: #1daced !important; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; text-decoration: none; color: #FFF; display: block; text-align: center;">Twitter</a></p>


                                            </td>
                                        </tr>
                                    </table><!-- /column 1 -->

                                    <!-- column 2 -->
                                    <table class="column" align="left" style="min-width: 279px; margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0; width: 280px; float: left;">
                                        <tr style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0;">
                                            <td style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 15px;">

                                                <h5 class="" style="font-size: 17px; font-weight: 900; line-height: 1.1; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; margin: 0 0 15px; color: #000; padding: 0;">Contact Info:</h5>
                Email: <strong style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0;"><a href="emailto:support@listypedia.com" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #2BA6CB; margin: 0; padding: 0;">support@listypedia.com</a></strong></p>

                                            </td>
                                        </tr>
                                    </table><!-- /column 2 -->

                                    <span class="clear" style="clear: both; margin: 0; padding: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block;"></span>

                                </td>
                            </tr>
                        </table><!-- /social & contact -->

                    </td>
                </tr>
            </table>
            </div><!-- /content -->

        </td>
        <td style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 0;"></td>
    </tr>
</table><!-- /BODY -->

<style type="text/css">
img { max-width: 100% !important; }
body { -webkit-font-smoothing: antialiased !important; -webkit-text-size-adjust: none !important; width: 100% !important; height: 100% !important; }
</style>
</body>
</html>